name: Deploy
on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  pypi:
    name: Deploy PyPI

    runs-on: ubuntu-24.04

    permissions:
      id-token: write  # Required for trusted publishing
      contents: read

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 20

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Build distribution
      run: |
        pip install build
        python -m build --sdist .

    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
